.countries ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.countries li a {
	display: block;
	padding: 10px;
    text-align: center;
	text-decoration: none;
	color: rgb(37, 37, 37);
	background-image: linear-gradient(
		270deg,
		rgb(160, 213, 249),
		rgb(121, 199, 250),
        rgb(160, 213, 249)
	);
	margin-bottom: 1px;
}

.countries a:hover {
	background-image: linear-gradient(
		270deg,
        rgb(121, 199, 250),
		rgb(160, 213, 249),
		rgb(121, 199, 250)
	);
}

.countries li:first-child a{
    border-radius: 50px 50px 0 0;
    -webkit-border-radius: 50px 50px 0 0;
    -moz-border-radius: 50px 50px 0 0;
    -ms-border-radius: 50px 50px 0 0;
    -o-border-radius: 50px 50px 0 0;
}

.countries li:last-child a{
    border-radius: 0 0 50px 50px ;
    -webkit-border-radius: 0 0 50px 50px ;
    -moz-border-radius: 0 0 50px 50px ;
    -ms-border-radius: 0 0 50px 50px ;
    -o-border-radius: 0 0 50px 50px ;
}
