body {
  margin: 15px;
  padding: 10px;
}
#calculator {
  border: 5px solid darkgray;
  border-radius: 5px;
  width: 210px;
  text-align: center;
  background-color: lightgray;
}

input {
  width: 185px;
  height: 50px;
  margin: 15px 0 15px 0;
  border: none;
  background-color: darkgrey;
  color: white;
  font-size: 2rem;
  text-align: right;
  border-radius: 5px;
}

button {
  border-radius: 50%;
  font-size: 1.5rem;
  width: 45px;
  height: 45px;
  padding: 5px;
  border: none;
  margin: 2px;
}
button:hover {
  background-color: rgb(212, 208, 208);
}
