#countLabel{
    display: block;
    text-align: center;
    font-size: 10rem;
}

#btnContainer{
    text-align: center;
}
.buttons{
    padding: 15px;
    border: none;
    border-radius: 15px;
    background-color: rgb(201, 14, 154);
    color: white;
    font-size: 2em;
    width: 150px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color:  rgb(53, 158, 219);
}