:root {
	--color1: rgb(210, 105, 30);
	--color2: rgb(4, 143, 4);
	--color3: rgb(55, 23, 0);
	--color4: rgb(250, 235, 215);
    --color1-opacity-50: rgba(210, 105, 30, 0.5);
}

body {
	font-family: "Montserrat", sans-serif;
}

.card {
    overflow: hidden;
	box-shadow: 0 5px 20px -7px black;
	position: relative;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

.card img {
    width: 100%;
	height: auto;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

.card .btn {
	position: absolute;
	top: 20px;
	font-size: 2rem;
	width: 50px;
	height: 50px;
	border: none;
	background-color: var(--color1);
	color: var(--color3);
	cursor: pointer;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.card .btn:hover {
	box-shadow: 0 0 10px var(--color3);
}

.card .btn-share {
	left: 20px;
}

.card .btn-favorite {
	right: 20px;
	background-color: var(--color2);
	color: var(--color4);
}

.card .card-body {
	padding: 15px;
}

.card h3 {
	font-size: 2rem;
	margin: 0;
	color: var(--color3);
}

.card p {
	color: var(--color3);
}

.card .card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    color: var(--color2)
}

.card .card-footer a{
    text-decoration: none;
    color: var(--color1);
    display: block;
    background-color: var(--color4);
    padding: 10px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card .card-footer a:hover{
    box-shadow: 0 0 15px var(--color1-opacity-50);
}